<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Inscription Sécurisée (E2EE)</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
</head>

<body style="margin: 0; padding: 0; background-color: #000000;">

    <!-- Section principale de l'inscription -->
    <div class="auth-wrapper">
        <!-- Partie gauche avec le logo -->
        <div class="auth-left">
            <div class="brand-section">
                <h1 class="welcome-text">Rejoignez</h1>
                <div class="logo-container">
                    <img src="/images/logo.png" alt="ShareLock">
                </div>
            </div>
        </div>

        <!-- Partie droite avec le formulaire d'inscription -->
        <div class="auth-right">
            <div class="auth-form-container">
                <h2 class="title_header">Créer un compte</h2>

                <!-- Formulaire d'inscription -->
                <form id="register-form">
                    <input type="text" id="username" placeholder="Nom d'utilisateur" required autocomplete="off">
                    <input type="email" id="email" placeholder="Votre Email" required autocomplete="off">
                    <input type="password" id="password" placeholder="Mot de passe" required>

                    <button type="submit" id="submit-btn">
                        Générer mes clés et m'inscrire
                    </button>
                </form>

                <!-- Lien vers la page de connexion -->
                <div class="auth-footer">
                    <p>Déjà un compte ? <a href="/login">Se connecter</a></p>
                </div>

                <p id="status-message"></p>
            </div>
        </div>
    </div>

    <!-- Modal pour afficher le code de secours -->
    <div id="recovery-modal" class="modal-overlay" style="display: none;">
        <div class="modal-content">
            <h2 class="modal-title">TRÈS IMPORTANT</h2>
            <p class="modal-text">Votre compte est créé avec succès ! Voici votre <strong>Code de Secours UNIQUE</strong>. Le serveur ne le connaît pas.</p>

            <div class="code-box">
                <span id="recovery-code-display">XXXX-XXXX-XXXX-XXXX</span>
            </div>

            <p class="modal-warning">Copiez-le et gardez-le en lieu sûr ! Si vous perdez votre mot de passe, c'est le <strong>SEUL</strong> moyen de récupérer vos fichiers.</p>

            <button id="modal-confirm-btn" class="modal-btn">J'ai bien noté mon code</button>
        </div>
    </div>
    <script src="js/register.js"></script>
</body>

</html>